@font-face {
  font-family: Proxima-Nova-Regular;
  src: url(../../fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../../fonts/ProximaNova-Bold.ttf);
}

$tablet-breakpoint: 768px;

@media (max-width: $tablet-breakpoint) {
  .navigation {
    .menu {
      &__item {
        min-width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .icon:first-child {
      margin-right: 0;
    }
    .option {
      display: none;
    }
  }
}

.navigation {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0px;
    &__item {
      list-style: none;
      width: 220px;
      @media (max-width: $tablet-breakpoint) {
        width: 25%;
      }
      &:hover {
        .icon.fas,
        .link {
          color: #ffffff;
          transition: 200ms color linear;
        }
      }
      .link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-family: ProximaNovaBold;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        margin-left: 10px;

        .icon {
          @media (max-width: $tablet-breakpoint) {
            margin-right: 0;
            & .option {
              display: none;
            }
          }

          font-size: 30px;
          color: #8651c2;
          text-shadow: 10px 17px 24px rgba(0, 0, 0, 0.36);
          margin-right: 15px;
        }
      }
    }
  }
}
